.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-between;

	height: 100px;
	border: 1px solid #3e2fc0;
}

.container div {
	border: 1px solid #ff5555;
	flex-basis: 100px;

}